html, body {
  font-size: 16px; }

body {
  font-family: 'Libre Franklin', sans-serif;
  margin: 0 3rem;
  padding: 0; }

h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem; }

.button {
  padding: 1rem;
  margin: 0;
  border-radius: 0;
  border: 0;
  font-size: 1rem;
  background-color: #4a8b3b;
  color: #fff; }
  .button:hover {
    cursor: pointer; }
  .button:focus {
    outline: 3px solid #ff9a00; }
  .button--plain {
    color: #336699;
    background-color: transparent;
    padding: 0;
    text-decoration: underline; }

.input {
  margin-bottom: 1.5rem; }
  .input label {
    display: block; }
  .input input {
    padding: 0.5rem 0.5rem;
    border: 2px solid #969696; }
    .input input:focus {
      outline: 3px solid #ff9a00; }
  .input button {
    margin-left: 1rem; }

.inputs {
  margin-bottom: 3rem; }
  .inputs__error {
    color: #CC0000; }
